[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = ">=3.5.4"
backoff = ">=1.8.0"
bs4 = "*"
click = ">=7.0"
jikanpy = ">=4.2.2"
requests = ">=2.22.0"
toml = ">=0.10.0"
GitPython = ">=3.0"

[requires]
python_version = "3.7"

[packages.aiologger]
extras = [ "aiofiles",]
version = ">=0.4.0"
