aiohttp>=3.5.4
backoff>=1.8.0
bs4
Click>=7.0
GitPython>=3.0
-e git+https://github.com/AWConant/jikanpy@master#egg=jikanpy
requests>=2.22.0
toml>=0.10.0
aiologger>=0.4.0
aiohttp==3.6.0
aiologger[aiofiles]>=0.4.0